---
import "../styles/global.css";
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jorge Martinez</title>
</head>
  <body class="bg-primary text-gray-900 antialiased" style="background-color: var(--color-bg); color: var(--color-dark);">
    <slot />
  </body>
</html>
